dn: dc={{ domain }}
objectClass: dcObject
objectClass: organization
dc: {{ domain }}
o: {{ domain }}

dn: ou=People,dc={{ domain }}
objectClass: organizationalUnit
ou: People

dn: ou=Group,dc={{ domain }}
objectClass: organizationalUnit
ou: Group