dn: {{ base_dn }}
objectClass: dcObject
objectClass: organization
dc: {{ domain }}
o: {{ domain }}

dn: ou=People,{{ base_dn }}
objectClass: organizationalUnit
ou: People

dn: ou=Group,{{ base_dn }}
objectClass: organizationalUnit
ou: Group