dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ base_dn }}

dn: olcDatabase={2}mdb, cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn=ldapadm,{{ base_dn }}

dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{ ldap_hash.stdout }}