dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{ domain }}

dn: olcDatabase={2}mdb, cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn=ldapadm,dc={{ domain }}

dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{ slappasswd.stdout }}